.form {
    display: flex;
}

.form input {
    flex: 1;
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-bottom: 1px solid #636e72;
    box-shadow: 0 3px 6px rgba(83, 92, 104, 1.0), 0 6px 12px rgba(48, 51, 107, 1.0);
}

.create-button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    background: #22b8cf;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(83, 92, 104, 1.0), 0 6px 12px rgba(48, 51, 107, 1.0);
}

.create-button:hover {
    background: #3bc9db;
}